<div class="container">
  <h4 class="font-weight-bold py-3 mb-4">DQ Media Test</h4>

  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
        <% @candidate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with scope: :candidate, url: candidates_path, multipart: true, local: true do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :phone %>
      <%= form.text_field :phone, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :career_level %>
      <%= form.select :career_level, options_for_select(['Student',
                                                         'Graduate',
                                                         'Entry Level',
                                                         'Experienced',
                                                         'Executive',
                                                         'Senior Executive']), {}, {:class => "form-control"} %>
    </div>
    <div class="form-group">
      <%= form.label :years_of_experience %>
      <%= form.number_field(:years_of_experience, step: 1, :class => 'form-control') %>
    </div>
    <div class="form-group">
      <%= form.label :cover_note %>
      <%= form.text_field :cover_note, :class => "form-control", :max => 200 %>
    </div>
    <div class="form-group">
      <div class="custom-file">
        <%= form.file_field :avatar, :class => "custom-file-input", :accept => 'image/x-png,image/gif,image/jpeg' %>
        <%= form.label :avatar, :class => "custom-file-label" %>
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex">
        <label for="candidate[skills[]]">Skills</label>
        <a href="javascript:void(0)" class="btn btn-sm btn-primary ml-auto" onclick="addSingleElement('data-skills-container', '#new-skills')">Add Skill</a>
      </div>
    </div>
    <% (1..3).each do |i| %>
    <div data-skills-container="<%= i %>">
      <div class="form-group">
        <input type="text" name="candidate[skills][]" class="form-control" placeholder="Skill">
      </div>
      <div class="text-right">
        <a href="javascript:void(0)" class="text-danger text-small"
           onclick="removeElement($(this), 'data-skills-container')">Remove</a>
      </div>
    </div>
    <% end %>
    <div id="new-skills"></div>


    <div class="form-group">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">

    function addSingleElement(identifier, placeholder) {
        if ($('[' + identifier + '].d-none').length === 1) {
            $('[' + identifier + ']').removeClass('d-none');
            return false;
        }
        var $last = $('[' + identifier + ']').last();
        var $newElement = $last.clone();
        $newElement.find('input').val(null);
        $newElement.insertBefore($(placeholder));
        return false;
    }

    function removeElement(element, identifier) {
        if ($('[' + identifier + ']').length > 3) {
            $(element).parent('div').parent('div').remove();
        }
    }
</script>