<div class="container">
  <h4 class="font-weight-bold py-3 mb-4">DQ Media Test</h4>
  <dl class="row">
    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9"><%= @candidate.name %></dd>
    <dt class="col-sm-3">Avatar:</dt>
    <dd class="col-sm-9">
      <% if @candidate.avatar.attached? %>
        <%= image_tag @candidate.avatar , :class => "img-thumbnail"%>
      <% else %>
        <em>No avatar</em>
      <% end %>
    </dd>
    <dt class="col-sm-3">Skills:</dt>
    <dd class="col-sm-9"><%= @candidate.skills %></dd>
    <dt class="col-sm-3">Email:</dt>
    <dd class="col-sm-9"><%= @candidate.email %></dd>
    <dt class="col-sm-3">Experience:</dt>
    <dd class="col-sm-9"><%= @candidate.years_of_experience %> years</dd>
    <dt class="col-sm-3">Phone:</dt>
    <dd class="col-sm-9"><%= @candidate.phone %></dd>
    <dt class="col-sm-3">Career level:</dt>
    <dd class="col-sm-9"><%= @candidate.career_level %></dd>
    <dt class="col-sm-3">Cover note:</dt>
    <dd class="col-sm-9"><%= @candidate.cover_note %></dd>
  </dl>
</div>